
@{
    ViewBag.Title = "Index";
}

<h2>Catalago de Produtos</h2>

<!--Selecionar o produto e trazer seus dados-->

<a href="~/Produto/Buscar?prd=1"> produto 1</a>
<br>
<a href="~/Produto/Buscar?prd=5">produto 5</a>
<br>
<a href="~/Produto/Buscar?prd=10">produto 10</a>
<br>
